$primary: #B42424;
$red-accent1: #960E0E;
$red-accent2: #7F211B;
$floral-white: #FFF6F3;
$pale-pink: #F8E1D9;
$black: #000000;
$white: #ffffff;
$secondary: #2D2D2E;
$stone-cold: #555555;
$silver: #A3A3A3;
$chinese-silver: #CDCDCD;
$alto: #D9D9D9;
$white-smoke: #F5F5F5;



h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 700;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

h6 {
    font-size: 20px;
    font-weight: 500;
}
